<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container text-center" style="background-image: url(./../../public/img/Rvv.jpeg);">
    <div class="jumbotron">
        <h1 style="margin-top: 20px; color: rgb(0, 0, 0); font-family: 'Arial', sans-serif; font-size: 36px;"> Welcome! </h1>
        <h2 style="margin-top: 50px; color: rgb(207, 180, 90); font-family: 'Arial', sans-serif; font-size: 24px;">────────────────────────── <span style="color: rgb(0, 0, 0);">Exploring Opportunities Together</span> ──────────────────────────</h2>
        <p style="margin-top: 50px; font-size: 16px; font-family: 'Arial', sans-serif; color: #555;">At Hetvi's Website, our mission is to revolutionize the digital landscape by offering unparalleled web development, innovative mobile application solutions, and comprehensive software documentation services. We are committed to creating user-centric, forward-thinking digital experiences that not only drive the success of our clients but also redefine industry standards. With a focus on cutting-edge technologies and a keen eye for detail, we transform concepts into impactful digital realities. Our unwavering dedication to excellence, client satisfaction, and continuous evolution positions us as trusted collaborators in our clients' digital journeys. Together, let's pioneer the future of technology and elevate possibilities.</p>
        <h2 style="margin-top: 50px; color: rgb(207, 180, 90); font-family: 'Arial', sans-serif; font-size: 24px;">─────────────────────────────── <span style="color: rgb(0, 0, 0);">Explore Our Pages</span> ───────────────────────────────</h2>
        <ul class="horizontal-links" style="list-style-type: none; padding: 0; margin-top: 50px; display: flex; justify-content: center;">
            <li style="margin-right: 30px;">
                <a class="btn btn-primary btn-lg" href="/about" style="color: rgb(207, 180, 90); background-color: rgb(0, 0, 0); font-family: 'Arial', sans-serif;">About Me</a>
            </li>
            <li style="margin-right: 30px;">
                <a class="btn btn-primary btn-lg" href="/projects" style="color: rgb(207, 180, 90); background-color: rgb(0, 0, 0); font-family: 'Arial', sans-serif;">Projects</a>
            </li>
            <li style="margin-right: 30px;">
                <a class="btn btn-primary btn-lg" href="/services" style="color: rgb(207, 180, 90); background-color: rgb(6, 6, 6); font-family: 'Arial', sans-serif;">Services</a>
            </li>
            <li>
                <a class="btn btn-primary btn-lg" href="/contact" style="color: rgb(207, 180, 90); background-color: rgb(0, 0, 0); font-family: 'Arial', sans-serif;">Contact</a>
            </li>
        </ul>
    </div>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>
